<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<div class="container mt-4">
  <h1>Edit Recipe: <%= recipe.name %></h1>
  <div class="row">
    <div class="col-md-8">
      <form action="/recipes/<%= recipe._id %>/update" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="name" class="form-label">Recipe Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= recipe.name %>" required>
        </div>

        <div class="mb-3">
          <label for="ingredients" class="form-label">Ingredients</label>
          <div id="ingredient-list">
            <% recipe.ingredients.forEach(function(ingredient, index) { %>
              <div class="input-group mb-2 ingredient-group">
                <input type="text" class="form-control" name="ingredients[<%= index %>][name]" placeholder="Ingredient" value="<%= ingredient.name %>" required>
                <input type="text" class="form-control" name="ingredients[<%= index %>][amount]" placeholder="Amount" value="<%= ingredient.amount %>" required>
                <button class="btn btn-outline-danger" type="button" onclick="removeIngredient(this)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            <% }); %>
          </div>
          <button class="btn btn-outline-secondary mb-3" type="button" id="addIngredient">
            <i class="bi bi-plus-circle"></i> Add Ingredient
          </button>
        </div>

        <div class="mb-3">
          <label for="instructions" class="form-label">Instructions</label>
          <textarea class="form-control" id="instructions" name="instructions" rows="5"><%= recipe.instructions %></textarea>
        </div>

        <div class="mb-3">
          <label for="photo" class="form-label">Photo</label>
          <input class="form-control" type="file" id="photo" name="photo" onchange="previewFile()">
          <% if (recipe.photo) { %>
            <img src="/<%= recipe.photo %>"  class="img-thumbnail mt-2" alt="<%= recipe.name %>" style="max-height: 200px;" id="photo-preview">
          <%}else {%>
            <img src="/public/images/image_placeholder.png"  class="img-thumbnail mt-2" alt="<%= recipe.name %>" style="max-height: 200px;" id="photo-preview">
          <% } %>
        </div>

        <button type="submit" class="btn btn-primary">Update Recipe</button>
      </form>
    </div>
  </div>
</div>

<script>
// Function to add new ingredient input fields
function addIngredient() {
  const container = document.getElementById('ingredient-list');
  const index = container.querySelectorAll('.ingredient-group').length;
  const html = `
    <div class="input-group mb-2 ingredient-group">
      <input type="text" class="form-control" name="ingredients[${index}][name]" placeholder="Ingredient" required>
      <input type="text" class="form-control" name="ingredients[${index}][amount]" placeholder="Amount" required>
      <button class="btn btn-outline-danger" type="button" onclick="removeIngredient(this)">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  `;
  container.insertAdjacentHTML('beforeend', html);
}

// Function to remove ingredient input fields
function removeIngredient(element) {
  const group = element.closest('.ingredient-group');
  group.remove();
}
  function previewFile() {
    const preview = document.getElementById('photo-preview');
    const file = document.querySelector('input[type=file]').files[0];
    const reader = new FileReader();

    reader.addEventListener("load", function () {
      // convert image file to base64 string
      preview.src = reader.result;
      preview.style.display = 'block';
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  }


document.getElementById('addIngredient').addEventListener('click', addIngredient);
</script>

<% include partials/footer.ejs %>
